body {
  margin: 0;
  padding: 0;
  background-image: url("../public/assets/clima.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
