nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: linear-gradient(red, yellow); */
  padding: 1em 1em;
}

.flex {
  display: flex;
  align-items: center;
}
span {
  color: yellow;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

img {
  border-radius: 20%;
}

.search {
  justify-content: space-between;
}

@media screen and (max-width: 530px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .mar {
    margin-bottom: 18px;
  }
}
